<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hawkular Interactive Chart Example</title>
  <meta name="description"
        content="Hawkular Interactive Charts Example. An example how to use the hawkular-charts and play around with
        some of its functionality. Includes the ability to change the alert threshold and see how the chart looks
        with varying number of datapoints.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link href="node_modules/patternfly/dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
  <link href="node_modules/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
  <link rel="stylesheet" href="dist/css/hawkular-charts.css">
  <style>

    .contextChartSection {
      background-color: #fafafa;
      border: 1px solid lightgrey;
    }

    #alertValue {
      width: 50px;
    }

    .metricIdLabel {
      color: #1008a9;
    }

    .contextIdLabel {
      color: #1794BC;
    }

    .metricIdHeader {
      margin: 20px 0 0 90px;
    }

    .metricIdHeader > li {
      margin-left: 50px;
    }

    .optionsWrapper {
      border: 1px solid lightgrey;
    }

    .narrative {
      margin: 20px;
      font-style: italic;
    }

    .chartWrapper {
      height: 300px;
    }

    .chartWrapperSmall {
      height: 100px;
    }

    .chartWrapperSparkline {
      height: 80px;
      width: 250px;
    }

    .contextChartWrapper {
      height: 85px;
    }

    .sparklineChartWrapper {
      height: 70px;
      width: 175px;
    }


  </style>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="libs/angular/angular.js"></script>
  <script src="libs/d3/d3.js"></script>
  <script src="libs/moment/moment.js"></script>
  <script src="libs/d3-tip/index.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- endbuild -->


  <script>
    var app = angular.module('myApp', ['hawkular.charts']);

    app.controller('ChartController', function ($scope, $rootScope) {

      $scope.timerange = {};
      // set the alert threshold to whatever
      $scope.alertThreshold = 2000;
      $scope.dataPoints = 120;
      $scope.hideHighLowValues = false;

      $scope.myForecastData = [
        {'timestamp': 1434480361167, 'value': 1780, 'min': 1740, 'max': 1790},
        {'timestamp': 1434480511167, 'value': 1680, 'min': 1640, 'max': 1760},
        {'timestamp': 1434480571167, 'value': 1630, 'min': 1570, 'max': 1730},
        {'timestamp': 1434480661167, 'value': 1600, 'min': 1500, 'max': 1720},
        {'timestamp': 1434480781167, 'value': 1570, 'min': 1460, 'max': 1710},
        {'timestamp': 1434480931167, 'value': 1550, 'min': 1460, 'max': 1720},
        {'timestamp': 1434481111167, 'value': 1560, 'min': 1480, 'max': 1700}
      ];

      // load a captured Hawkular Feed for sample data -- simulates loading data
      d3.json('./test-data/metrics-data.json', function (error, jsonData) {

        $scope.originalData = jsonData;
        $scope.myData = jsonData;

        // this is simply a d3 function to return the beginning and ending values
        var myTimeRange = d3.extent($scope.myData, function (value) {
          return value.timestamp;
        });

        // set our initial timerange based on the data bounds
        $scope.timerange.startTimestamp = myTimeRange[0];
        $scope.timerange.endTimestamp = myTimeRange[1];
        console.log('Starting time range values: ' + new Date(myTimeRange[0]) + ' - ' + new Date(myTimeRange[1]));
        $scope.refreshChartWithDateRange();

      });

      $scope.toggleHighLow = function () {
        console.log('hideHighLowValues: ' + $scope.hideHighLowValues);
        $scope.hideHighLowValues = !$scope.hideHighLowValues;
      };

      $scope.$watch('dataPoints', function (dataPoints) {
        if (dataPoints && $scope.originalData) {
          console.log('dataPoints changed to: ' + dataPoints);
          $scope.myData = $scope.originalData.slice(0, dataPoints);
        }
      });

      $scope.refreshChartWithDateRange = function () {
        console.log('refreshChartWithDateRange');
        // we already have the data, but perhaps the data is stale and you want to requery
        // also, by just changing the data the charts will automatically update themselves
        $scope.myData = $scope.originalData.filter(function (value) {
          return value.timestamp >= $scope.timerange.startTimestamp && value.timestamp <= $scope.timerange.endTimestamp;
        });
        $scope.$digest();

      };

      // Drag event on a normal chart
      $scope.$on('ChartTimeRangeChanged', function (event, data) {
        console.log('Received ChartTimeRangeChanged event: ' + data[0] + ' - ' + data[1]);
        $scope.timerange.startTimestamp = data[0];
        $scope.timerange.endTimestamp = data[1];
        $scope.refreshChartWithDateRange();
        $scope.$digest();
      });

      // Drag event on a context chart
      $scope.$on('ContextChartTimeRangeChanged', function (event, data) {
        console.info('Received ContextChartTimeRangeChanged event: ' + data[0] + ' - ' + data[1]);
        $rootScope.$broadcast('ChartTimeRangeChanged', data);
      });
    });

  </script>
  <script src="dist/hawkular-charts.js"></script>


</head>
<body ng-app="myApp">

<div class="container">

  <div class="col-md-offset-2">
    <h1>Hawkular Charts - Response Time with Alerts</h1>
  </div>

  <p>
    This page demonstrates the various types of Hawkular charts, and allows to change some of the properties to see how
    these chart types would look with various properties set.
  </p>
  <div class="col-md-offset-1">
    <h4>Check out the following list for other examples:</h4>
    <ul>
      <li><a href="./avail-test.html">Availability Tester</a></li>
      <li><a href="./metrics-chart-sample.html">Metrics Chart Sample</a></li>
      <li><a href="./multi-chart-sample.html">Multi-Chart Sample</a></li>
    </ul>
  </div>

  <p class="narrative">
    Drag on the charts (and context chart) to select interesting areas to zoom in on. This example has all of
    charts
    responding to the change in z oom area. Altering the number of data points can have a positive or negative effect
    on the way a chart looks. Experiment!
  </p>

  <div ng-controller="ChartController">

    <div class="row">

      <div class="optionsWrapper col-md-3">
        <form name="optionsForm">
          <div style="margin-bottom: 5px;">
            <div class="row">
              <label for="alertValue">Alert Threshold: </label>
              <input id="alertValue" type="number" step="500" ng-model="alertThreshold"/>
            </div>
            <div class="row">
              <label for="dataPoints">Data Points: </label>
              <input id="dataPoints" type="number" step="10" max="120" min="10" ng-model="dataPoints"/>
            </div>
            <div class="row">
              <label for="highLowValues">Hide High/Low Values: </label>
              <input id="highLowValues" type="checkbox" ng-model="hideHighLowValues"/>
            </div>
          </div>
        </form>
      </div>

      <div class="contextChartSection col-md-9">
        <div class="metricIdHeader">
          <span class="contextIdLabel"> Context Chart</span>
        </div>
        <div class="contextChartWrapper">
          <hk-context-chart
            data="originalData"
            show-y-axis-values="true">
          </hk-context-chart>
        </div>
      </div>

    </div>


    <div class="metricIdHeader">
      <span class="metricIdLabel"> ChartType: Line (in 3 Sizes)</span>
    </div>
    <div class="chartWrapper">
      <hk-metric-chart
        data="myData"
        forecast-data="myForecastData"
        chart-type="line"
        alert-value="{{alertThreshold}}"
        show-data-points="true"
        y-axis-units="Response Time (ms)"
      >
      </hk-metric-chart>
    </div>


    <div class="chartWrapperSmall">
      <hk-metric-chart
        data="myData"
        chart-type="line"
        alert-value="{{alertThreshold}}"
        show-data-points="true"
        y-axis-units="Response Time (ms)"
      >
      </hk-metric-chart>
    </div>


    <div class="chartWrapperSparkline">
      <hk-metric-chart
        data="myData"
        alert-value="{{alertThreshold}}"
        y-axis-units="Response Time (ms)"
      >
      </hk-metric-chart>
    </div>


    <div class="metricIdHeader">
      <span class="metricIdLabel"> ChartType: Area</span>
    </div>
    <div class="chartWrapper">
      <hk-metric-chart
        data="myData"
        chart-type="area"
        alert-value="{{alertThreshold}}"
        show-data-points="true"
        y-axis-units="Response Time (ms)">
      </hk-metric-chart>
    </div>

    <div class="metricIdHeader">
      <span class="metricIdLabel"> ChartType: Histogram</span>
    </div>
    <div class="chartWrapper">
      <hk-metric-chart
        data="myData"
        chart-type="histogram"
        alert-value="{{alertThreshold}}"
        hide-high-low-values="hideHighLowValues"
        y-axis-units="Response Time (ms)">
      </hk-metric-chart>
    </div>

    <div class="metricIdHeader">
      <span class="metricIdLabel"> ChartType: RhqBar</span>
    </div>
    <div class="chartWrapper">
      <hk-metric-chart
        data="myData"
        chart-type="rhqbar"
        alert-value="{{alertThreshold}}"
        hide-high-low-values="hideHighLowValues"
        y-axis-units="Response Time (ms)">
      </hk-metric-chart>
    </div>

    <div class="metricIdHeader">
      <span class="metricIdLabel"> ChartType: Scatter</span>
    </div>
    <div class="chartWrapper">
      <hk-metric-chart
        data="myData"
        chart-type="scatter"
        alert-value="{{alertThreshold}}"
        hide-high-low-values="hideHighLowValues"
        y-axis-units="Response Time (ms)">
      </hk-metric-chart>
    </div>

    <div class="metricIdHeader">
      <span class="metricIdLabel"> ChartType: ScatterLine</span>
    </div>
    <div class="chartWrapper">
      <hk-metric-chart
        data="myData"
        chart-type="scatterline"
        alert-value="{{alertThreshold}}"
        hide-high-low-values="hideHighLowValues"
        y-axis-units="Response Time (ms)">
      </hk-metric-chart>
    </div>

  </div>
</div>
</body>
</html>
