<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hawkular Interactive Chart Example</title>
  <meta name="description"
        content="Hawkular Interactive Charts Example. An example how to use the hawkular-charts and play around with
        some of its functionality. Includes the ability to change the alert threshold and see how the chart looks
        with varying number of datapoints.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/hawkular-charts.css">
  <style>

    .metricIdLabel {
      color: #1008a9;
    }

    .metricIdHeader {
      margin: 20px 0 -35px 90px;
    }

    .metricIdHeader > li {
      margin-left: 40px;
    }

    .optionsWrapper {
      border: 1px solid lightgrey;
      padding: 10px;
      margin: 10px;
      width: 700px;
    }

    .chartWrapper {
      height: 250px;
    }

    .contextChartWrapper {
      height: 250px;
      width: 750px;
    }

    .sparklineChartWrapper {
      height: 80px;
      width: 240px;
    }
  </style>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="libs/jquery/dist/jquery.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/d3/d3.js"></script>
  <script src="libs/moment/moment.js"></script>
  <script src="libs/d3-tip/index.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- endbuild -->


  <script>
    var app = angular.module('myApp', ['hawkular.charts']);

    app.controller('ChartController', function ($scope,$rootScope) {

      $scope.timerange = {};
      // set the alert threshold to whatever
      $scope.alertThreshold = 2000;
      $scope.dataPoints = 120;
      $scope.hideHighLowValues = false;

      // load a captured Hawkular Feed for sample data -- simulates loading data
      $.getJSON('./test-data/metrics-data.json', function (jsonData) {

        $scope.originalData = jsonData;
        $scope.myData = jsonData;

        // this is simply a d3 function to return the beginning and ending values
        var myTimeRange = d3.extent($scope.myData, function (value) {
          return value.timestamp;
        });

        // set our initial timerange based on the data bounds
        $scope.timerange.startTimestamp = myTimeRange[0];
        $scope.timerange.endTimestamp = myTimeRange[1];
        console.info('Starting time range values: ' + new Date(myTimeRange[0]) + ' - ' + new Date(myTimeRange[1]));
        $scope.refreshChartWithDateRange();

      });

      $scope.toggleHighLow = function () {
        console.log('hideHighLowValues: ' + $scope.hideHighLowValues);
        $scope.hideHighLowValues = !$scope.hideHighLowValues;
      };

      $scope.$watch('dataPoints', function (dataPoints) {
        if (dataPoints && $scope.originalData) {
          console.log('dataPoints changed to: ' + dataPoints);
          $scope.myData = $scope.originalData.slice(0, dataPoints);
        }
      });

      $scope.refreshChartWithDateRange = function () {
        console.info('refreshChartWithDateRange');
        // we already have the data, but perhaps the data is stale and you want to requery
        // also, by just changing the data the charts will automatically update themselves
        $scope.myData = $scope.originalData.filter(function (value) {
          return value.timestamp >= $scope.timerange.startTimestamp && value.timestamp <= $scope.timerange.endTimestamp;
        });
        $scope.$digest();

      };

      // Drag event on a normal chart
      $scope.$on('ChartTimeRangeChanged', function (event, data) {
        console.info('Received ChartTimeRangeChanged event: ' + data[0] + ' - ' + data[1]);
        $scope.timerange.startTimestamp = data[0];
        $scope.timerange.endTimestamp = data[1];
        $scope.refreshChartWithDateRange();
        $scope.$digest();
      });

      // Drag event on a context chart
      $scope.$on('ContextChartTimeRangeChanged', function (event, data) {
        console.info('Received ContextChartTimeRangeChanged event: ' + data[0] + ' - ' + data[1]);
        $rootScope.$broadcast('ChartTimeRangeChanged', data);
      });
    });

  </script>
  <script src="hawkular-charts.js"></script>


</head>
<body ng-app="myApp">

<h3>Hawkular Charts - Response Time Sample</h3>

<p>
  This page demonstrates the various types of Hawkular charts, and allows to change some of the properties to see how
  these chart types would look with various properties set.
</p>
<h4>Check out the following list for other examples:</h4>
<ul>
  <li><a href="./avail-test.html">Availability Tester</a></li>
  <li><a href="./metrics-chart-sample.html">Metrics Chart Sample</a></li>
  <li><a href="./multi-chart-sample.html">Multi-Chart Sample</a></li>
</ul>

<p style="font-style: italic">
  Be sure to drag on the chart to select interesting areas to zoom in on. This example has all of charts
  responding to the change in zoom area. Altering the number of data points can have a positive or negative effect
  on the way a chart looks.
</p>

<div ng-controller="ChartController">

  <div class="optionsWrapper">
    <div style="margin-bottom: 5px;">

      <label for="alertValue">Alert Threshold: </label>
      <input id="alertValue" type="number" step="500" ng-model="alertThreshold"/>
      <label for="dataPoints">Data Points: </label>
      <input id="dataPoints" type="number" step="10" max="120" min="10" ng-model="dataPoints"/>
      <label for="highLowValues">Hide High/Low Values: </label>
      <input id="highLowValues" type="checkbox" ng-model="hideHighLowValues"
             ng-checked="hideHighLowValues"
             ng-click="toggleHighLow();"/>
    </div>
  </div>



  <div class="metricIdHeader"><span class="metricIdLabel"> Context Chart</span>
  </div>
  <div class="contextChartWrapper">
    <context-chart data="originalData">
    </context-chart>
  </div>


  <div class="metricIdHeader"><span class="metricIdLabel">Sparkline Chart</span>
  </div>
  <div class="sparkLineChartWrapper">
    <hawkular-sparkline-chart data="myData">
    </hawkular-sparkline-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: HawkularMetric</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="hawkularmetric"
      alert-value="{{alertThreshold}}"
      show-data-points="true"
      y-axis-units="Response Time (ms)"
      >
    </hawkular-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: Line</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="line"
      alert-value="{{alertThreshold}}"
      y-axis-units="Response Time (ms)">
    </hawkular-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: Area</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="area"
      alert-value="{{alertThreshold}}"
      y-axis-units="Response Time (ms)">
    </hawkular-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: Histogram</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="histogram"
      alert-value="{{alertThreshold}}"
      hide-high-low-values="hideHighLowValues"
      y-axis-units="Response Time (ms)">
    </hawkular-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: RhqBar</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="rhqbar"
      alert-value="{{alertThreshold}}"
      y-axis-units="Response Time (ms)">
    </hawkular-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: Scatter</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="scatter"
      alert-value="{{alertThreshold}}"
      hide-high-low-values="hideHighLowValues"
      y-axis-units="Response Time (ms)">
    </hawkular-chart>
  </div>

  <div class="metricIdHeader"><span class="metricIdLabel"> ChartType: ScatterLine</span>
  </div>
  <div class="chartWrapper">
    <hawkular-chart
      data="myData"
      chart-type="scatterline"
      alert-value="{{alertThreshold}}"
      hide-high-low-values="hideHighLowValues"
      y-axis-units="Response Time (ms)">
    </hawkular-chart>
  </div>

</div>

</body>
</html>
