<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en-us" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
<head>
  <title>Timeline Example</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="node_modules/patternfly/dist/css/patternfly.min.css">
  <link rel="stylesheet" href="node_modules/patternfly/dist/css/patternfly-additions.min.css">
  <link rel="stylesheet" href="dist/css/hawkular-charts.css">

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="node_modules/patternfly/dist/js/patternfly.min.js"></script>


  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="libs/angular/angular.js"></script>
  <script src="libs/d3/d3.js"></script>
  <script src="libs/moment/moment.js"></script>
  <script src="libs/d3-tip/index.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- endbuild -->

  <script>
    var app = angular.module('myApp', ['hawkular.charts']);

    app.controller('TimelineController', function ($scope, $timeout) {
      $scope.timeRangeOptions = [
        {label: '24 Hours',  value: 24, uom: 'hours' },
        {label: '7 days',  value: 7, uom: 'days' },
        {label: '30 days',  value: 30, uom: 'days' },
        {label: '60 days',  value: 60, uom: 'days' },
        {label: '90 days',  value: 90, uom: 'days' },
        {label: 'Custom....',  value: undefined, uom: undefined }
      ];

      console.log("Starting Event Timeline Tester");
      $scope.selectedEvents = [];
      $scope.timeline = {showLabels: false,
        startTime: +moment().subtract('days', 30),
        endTime: +moment(),
        timeRange: '30d'};

      $scope.$on(Charts.EventNames.TIMELINE_CHART_TIMERANGE_CHANGED, function (event, data) {
        console.info('Received TimelineChartTimeRangeChanged: ' + data[0] + ' - ' + data[1]);
        $scope.timeline.startTime = data[0];
        $scope.timeline.endTime = data[1];
        $scope.filterTimelineByDateRange();
      });

      function eventAlreadySelected(event) {
        for (var i = 0; i < $scope.selectedEvents.length; i++) {
          if (event.resource === $scope.selectedEvents[i].resource) {
            return true;
          }
        }
        return false;
      }

      $scope.$on(Charts.EventNames.TIMELINE_CHART_DOUBLE_CLICK_EVENT, function (event, data) {
        console.info('Received TimelineChartDoubleClickEvent: ' + data.resource);
        if (!eventAlreadySelected(data)) {
          $scope.selectedEvents.push(data);
          console.table($scope.selectedEvents);
        }
        $scope.$digest();
      });

      $scope.timeChange = function () {
        var newVal = $scope.timeline.timeRange;
        console.log('ng-change');
        console.dir(newVal);
        $scope.timeline.startTime = +moment().subtract(newVal.uom, newVal.value);
        $scope.timeline.endTime = +moment();
        // this little hack is needed or else we get '$digets already in progress
        $timeout(function() {
          console.log('refresh with timeout fired for time range: '+new Date($scope.timeline.startTime) + ' - '+
          new Date($scope.timeline.endTime));
          $scope.getNewData();
        }, 1000);
      };

      $scope.getNewData = function () {
        console.info('get random Event Data');
        var randomNumberOfPoints = Charts.Random.randomBetween(5, 30);

        $scope.events = Charts.TimelineEvent.buildFakeEvents(randomNumberOfPoints, $scope.timeline.startTime,
          $scope.timeline.endTime);
      };

      $scope.filterTimelineByDateRange = function () {
        console.info('filterTimelineByDateRange');

        $scope.events = $scope.events.filter(function (value) {
          return new Date(value.timestamp) >= $scope.timeline.startTime
            && new Date(value.timestamp) <= $scope.timeline.endTime;
        });
        console.log('New Timerange Events Selected: ' + $scope.events.length);
        console.table($scope.events);
        $scope.$digest();
      };

      $scope.getNewData();

    });

  </script>

  <script src="dist/hawkular-charts.js"></script>

</head>
<div class="toast-pf toast-pf-max-width toast-pf-top-right alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <span class="pficon pficon-close"></span>
  </button>
  <span class="pficon pficon-warning-triangle-o"></span>
  These examples are included for development testing purposes.
  For official documentation, see <a href="https://github.com/hawkular/hawkular-charts"
                                     class="alert-link">https://github.com/hawkular/hawkular-charts</a>
</div>

<body ng-app="myApp">
<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      Hawkular Charts Examples
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li>
        <a href="#">Status</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span>
          User Login <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-primary">
      <li>
        <a href="index.html">Samples</a>
      </li>
      <li>
        <a href="alerting-sample.html">Alerting</a>
      </li>
      <li>
        <a href="multi-chart-sample.html">Multi-Chart</a>
      </li>
      <li>
        <a href="avail-test.html">Availability</a>
      </li>
      <li class="active">
        <a class="active" href="timeline-test.html">Timeline</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Nav Section -->

<div class="container-fluid container-cards-pf" ng-controller="TimelineController">

  <div class="row cards-pf">
    <div class="col-sm-8 col-md-9">

      <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
          <a href="#" ng-click="getNewData()"><span class="pficon pficon-refresh"></span> Refresh Results</a>
        </div>
        <h1>Event Timeline Examples</h1>
      </div>

      <div class="row row-cards-pf">
        <div class="col-xs-12">
          <div class="card-pf">
            <div class="card-pf-heading">
              <div class="dropdown card-pf-time-frame-filter">
                <form name="timeRangeForm">
                  <select name="timeRange" ng-model="timeline.timeRange" ng-change="timeChange()"
                           ng-options="c.label for c in timeRangeOptions">
                  </select>
                </form>
              </div>

              <h2 class="card-pf-title">
                Event Timeline Chart
              </h2>
            </div>
            <div class="card-pf-body">
              <div>
                <hk-timeline-chart events="events"
                                   start-timestamp="{{timeline.startTime}}"
                                   end-timestamp="{{timeline.endTime}}"
                />
              </div>

            </div>
          </div>
        </div>
      </div>

    </div><!-- /col -->

    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <div class="actions pull-right">
          <!--<a href="#">Reset Settings</a>-->
        </div>
        <h2 class="h5">Chart Settings</h2>
      </div>
      <!--<ul class="list-group">-->
        <!--<li class="list-group-item">-->
          <!--<label >Show Feature:</label>-->
        <!--</li>-->
      <!--</ul>-->
      <h5>Selected Events</h5>
      <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="selectedEvent in selectedEvents track by $index">
          <h5 class="list-group-item-heading">{{selectedEvent.provider}}-{{selectedEvent.resource}}</h5>
          <p class="list-group-item-text">{{selectedEvent.message}}</p>
        </li>

      </ul>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->

</body>
</html>
